Repository MemoriesOfTime/raknet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, cargo-machete

.pre-commit-config.yaml:

# Some fast checks before committing, use `pre-commit install` to install the hooks.
# PS: Use `pip install pre-commit` if you don't have pre-commit installed.
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: check formatting with rustfmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: ^(?!abi)\.rs$

      - id: cargo-sort
        name: check Cargo.toml is sorted
        description: Ensure Cargo.toml is sorted
        entry: bash -c 'cargo sort --workspace'
        language: rust
        types: [file, toml]
        files: Cargo\.toml

      - id: cargo-machete
        name: check for workspace consistency
        description: Ensure workspace is consistent
        entry: bash -c 'cargo machete'
        language: rust
        files: ^((?!abi)\.rs|Cargo\.toml)$

fix max channel
  CHANGELOG.md
  src/codec/decoder/ordered.rs
Due: none

add `ConnectionInfo`
  CHANGELOG.md
  src/client/conn/mod.rs
  src/client/conn/tokio.rs
  src/opts.rs
  src/server/incoming/mod.rs
  src/server/incoming/tokio.rs
Due: none

fix: nack buffer reverse
  src/link.rs
Due: none

better frame trace
  src/guard.rs
Due: none

fix process nack
  src/guard.rs
  src/lib.rs
  src/link.rs
Due: none

remove client connect
  src/client/conn/tokio.rs
Due: none

more ack count
  src/codec/frame.rs
  src/errors.rs
  src/packet/connected/ack.rs
Due: none

feat: support priority message
  .gitignore
  Cargo.toml
  benches/micro.rs
  examples/controller.rs
  examples/proxy.rs
  examples/tracing.rs
  src/codec/decoder/mod.rs
  src/codec/encoder/body.rs
  src/codec/encoder/fragment.rs
  src/codec/mod.rs
  src/estimator.rs
  src/guard.rs
  src/lib.rs
  src/link.rs
  src/opts.rs
  src/packet/connected/frame_set.rs
  src/tests.rs
Due: cargo-sort, cargo-machete

chore: faster hash feature
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  benches/micro.rs
  examples/tracing.rs
  src/codec/decoder/ordered.rs
  src/guard.rs
  src/lib.rs
  src/link.rs
  src/packet/connected/ack.rs
  src/packet/connected/frame_set.rs
  src/packet/connected/mod.rs
  src/packet/mod.rs
  src/packet/unconnected.rs
  src/server/handler/offline.rs
  src/server/incoming/tokio.rs
  src/tests.rs
  src/utils/hash.rs
  src/utils/mod.rs
  src/utils/reactor.rs
  src/utils/tests.rs
Due: cargo-sort, cargo-machete

add sim net
  .config/nextest.toml
  src/client/conn/mod.rs
  src/client/conn/tokio.rs
  src/codec/mod.rs
  src/codec/tokio.rs
  src/guard.rs
  src/server/incoming/mod.rs
  src/server/incoming/tokio.rs
  src/tests.rs
  src/utils/tests/mod.rs
  src/utils/tests/sim_net.rs
  src/utils/tests/tracing.rs
Due: none

chore: bump rust version
  Cargo.toml
  rust-toolchain
  src/client/conn/mod.rs
  src/codec/mod.rs
  src/guard.rs
  src/lib.rs
  src/link.rs
  src/opts.rs
  src/packet/connected/frame_set.rs
  src/packet/connected/mod.rs
  src/packet/mod.rs
Due: cargo-sort, cargo-machete

update estimator
  src/estimator.rs
Due: none

fix test
  src/codec/decoder/body.rs
  src/codec/decoder/fragment.rs
  src/codec/decoder/ordered.rs
  src/codec/frame.rs
  src/estimator.rs
  src/guard.rs
Due: none

add congestion control
  .github/workflows/ci.yml
  src/congestion/bbr.rs
  src/congestion/cubic.rs
  src/congestion/legacy.rs
  src/congestion/mod.rs
  src/estimator.rs
  src/guard.rs
  src/lib.rs
  src/link.rs
Due: none

discard rfc minimum rto
  src/estimator.rs
  src/guard.rs
  src/tests.rs
  src/utils/tests/sim_net.rs
Due: none

test legacy congestion controller
  src/congestion/legacy.rs
  src/congestion/mod.rs
  src/guard.rs
  src/lib.rs
  src/tests.rs
  src/utils/tests/flusher.rs
  src/utils/tests/mod.rs
Due: none

fix ack pop
  src/codec/mod.rs
  src/guard.rs
  src/lib.rs
  src/link.rs
  src/packet/connected/frame_set.rs
  src/tests.rs
  src/utils/tests/flusher.rs
Due: none

remove send buf cap
  README.md
  examples/controller.rs
  examples/proxy.rs
  examples/tracing.rs
  src/client/conn/mod.rs
  src/guard.rs
  src/server/incoming/mod.rs
  src/tests.rs
Due: none

tmp fix congestion control
  src/client/conn/mod.rs
  src/guard.rs
  src/tests.rs
  src/utils/tests/tracing.rs
Due: none

remove send_buf_cap config
  src/client/conn/mod.rs
  src/server/incoming/mod.rs
Due: none

congestion control v1
  src/codec/encoder/body.rs
  src/codec/encoder/fragment.rs
  src/codec/mod.rs
  src/guard.rs
  src/tests.rs
Due: none

revert congestion control v1
  src/guard.rs
Due: none

init xdp
  src/client/conn/mod.rs
  src/codec/frame.rs
  src/estimator.rs
  src/lib.rs
  src/opts.rs
  src/reliable.rs
  src/server/incoming/mod.rs
  xdp/ebpf/Cargo.toml
  xdp/ebpf/src/buffer.rs
  xdp/ebpf/src/inet/ecn.rs
  xdp/ebpf/src/inet/ethernet.rs
  xdp/ebpf/src/inet/ip.rs
  xdp/ebpf/src/inet/ipv4.rs
  xdp/ebpf/src/inet/ipv6.rs
  xdp/ebpf/src/inet/mod.rs
  xdp/ebpf/src/inet/udp.rs
  xdp/ebpf/src/inet/zerocopy.rs
  xdp/ebpf/src/main.rs
  xdp/raknet-xdp/Cargo.toml
  xdp/raknet-xdp/src/bindings.rs
  xdp/raknet-xdp/src/if_xdp.rs
  xdp/raknet-xdp/src/io/mod.rs
  xdp/raknet-xdp/src/io/rx.rs
  xdp/raknet-xdp/src/io/tx.rs
  xdp/raknet-xdp/src/lib.rs
  xdp/raknet-xdp/src/mmap.rs
  xdp/raknet-xdp/src/socket.rs
  xdp/raknet-xdp/src/syscall.rs
  xdp/raknet-xdp/src/umem.rs
Due: cargo-sort

make binding
  xdp/raknet-xdp/Cargo.toml
  xdp/raknet-xdp/bindings/input.h
  xdp/raknet-xdp/build.rs
  xdp/raknet-xdp/src/bindings.rs
  xdp/raknet-xdp/src/lib.rs
  xdp/raknet-xdp/src/syscall.rs
Due: cargo-sort
